<!-- index.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="row no-gutters" id="charts">
        <div id="map" class="col-md-7 justify-content-start">
        </div>
        <div class="col-md-5" id="sidebar">
            <div id='divtitulo' class="row no-gutters">
                <h1 id="titulo">NYC Airbnb Rent Prices</h1>
                <ul class="icons">
					<li><a href="https://github.com/gpfl/dash-nyc"><i class="fab fa-github-square"></i></a></li>
					<li><a href="https://linked.com/in/gpfl"><i class="fab fa-linkedin"></i></a></li>
					<li><a href="https://gpfl.github.io"><i class="fas fa-user-circle"></i></a></li>
				</ul>
            </div>
            <div class="row no-gutters" id="combo">
            </div>
            <div id = "indicadores" class="row no-gutters justify-content-start">
                <div class="col-sm-5" id="semicircle">
                </div>
                <div class="col-sm-7" id="pyramid">
                </div>
            </div>   
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pyramid.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/semicircle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/combo.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapa.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}