<!-- index.html -->
{% extends "layout.html" %}
{% block content %}
    <div class="row no-gutters" id="charts">
        <div id="map" class="col-md-7 justify-content-start">
        </div>
        <div class="col-md-5" id="sidebar">
            <div class="row no-gutters">
                <h3 id="titulo">NYC Airbnb Rent Prices</h3>
            </div>
                <p>Dashboard interativo dos anúncios do Airbnb em Nova York. Clique no bairro para obter informações detalhadas.</p>
            <div class="row no-gutters" id="combo">
                
            </div>
            <div class="row no-gutters justify-content-start" id = "indicadores">
                <div class="col-sm-5" id="semicircle">
                </div>
                <div class="col-sm-7" id="pyramid">
                </div>
            </div>   
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/combo.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pyramid.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/semicircle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapa.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}